<nav>
  <ul>
    <a href="/house">Home</a>
     <div class="dropdown">
    <button class="dropbtn">House</button>
    <div class="dropdown-content">
      <a href="/house">house_registration</a>
      <a href="/house_details">house_details_by_id</a>
     
    </div>
  </div>

   <div class="dropdown">
    <button class="dropbtn">Visitor</button>
    <div class="dropdown-content">
      <a href="/visitor">visitor_registeration</a>
      <a href="visitor_details">visitor_details_id</a>
      
    </div>
  </div>

    <div class="dropdown">
    <button class="dropbtn">Staff</button>
    <div class="dropdown-content">
      <a href="/staff">staff_registration</a>
      <a href="staff_details">staff_detail_by_id</a>

    </div>
  </div>

    <a href="/login"><li><button >Login</button></li></a>
    <a href="/logout"><li><button>Log Out</button></li></a>
  </ul>
</nav>